@charset "UTF-8";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
/**
 * Correct cursors for clickable elements.
 */
/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  color: #272727;
  font-family: "Roboto", "游ゴシック", YuGothic, sans-serif;
}
body * {
  box-sizing: border-box;
}

/*----前回CSS----*/
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

/*----前回CSSここまで----*/
html {
  scroll-behavior: smooth;
}

.flex {
  display: flex;
}

main {
  background: #F3F3F3;
}

.mr40 {
  margin-right: 40px;
}
@media screen and (max-width: 1200px) {
  .mr40 {
    margin-right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .order1 {
    order: 1;
  }
}

@media screen and (max-width: 1200px) {
  .order2 {
    order: 2;
  }
}

.sectionBtn {
  margin: 40px auto 0 auto;
  max-width: 770px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .sectionBtn {
    max-width: 80%;
    margin: 0 auto 0 auto;
    position: static;
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .sectionBtn {
    margin-top: 26px;
    max-width: 100%;
  }
}
.sectionBtn__microCopy {
  max-width: 60%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .sectionBtn__microCopy {
    max-width: 40%;
    min-width: 280px;
  }
}
@media screen and (max-width: 767px) {
  .sectionBtn__microCopy {
    max-width: 300px;
    min-width: 180px;
  }
}
.sectionBtn__btnWrapper {
  max-width: 100%;
  position: relative;
  margin-top: 5px;
}
.sectionBtn__btn {
  background: #F7973E;
  color: #fff;
  padding: 1em 0 1em 0;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.6);
  letter-spacing: 0.1em;
  display: block;
  text-align: center;
  width: 100%;
}
.sectionBtn__btn:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1200px) {
  .sectionBtn__btn {
    padding: 18px 0 18px 0;
  }
}
@media screen and (max-width: 767px) {
  .sectionBtn__btn {
    font-size: 1.125rem;
    padding: 13px 13px 13px 13px;
    letter-spacing: 0;
  }
}
.sectionBtn__img {
  position: absolute;
  top: -50px;
  right: -50px;
  display: block;
  width: 130px;
  height: 130px;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .sectionBtn__img {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .sectionBtn__img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .w94 {
    max-width: 94%;
    margin: 0 auto;
  }
}

.logo {
  display: block;
  width: 180px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  padding-left: 30px;
}
@media screen and (max-width: 1200px) {
  .logo {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .logo {
    width: 130px;
    padding-left: 3%;
  }
}

.hiro {
  background: #E8F0FE;
  padding: 20px 3% 0 3%;
}
.hiro__inner {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.hiro__img {
  width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 1200px) {
  .hiro__img {
    display: none;
  }
}
.hiro__spimg {
  display: none;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 1200px) {
  .hiro__spimg {
    display: block;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .hiro__spimg {
    max-width: 100%;
    font-size: 1.125rem;
    padding: 13px 13px 13px 13px;
    letter-spacing: 0;
  }
}

.hiroBtn {
  margin: 0 auto 0 auto;
  max-width: 550px;
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 40px;
}
@media screen and (max-width: 1200px) {
  .hiroBtn {
    max-width: 80%;
    margin: 0 auto 0 auto;
    position: static;
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .hiroBtn {
    margin-top: 26px;
    max-width: 100%;
  }
}
.hiroBtn__textWrapper {
  position: relative;
}
.hiroBtn__microCopy {
  max-width: 60%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .hiroBtn__microCopy {
    max-width: 40%;
    min-width: 280px;
  }
}
@media screen and (max-width: 767px) {
  .hiroBtn__microCopy {
    max-width: 300px;
    min-width: 180px;
  }
}
.hiroBtn__btnWrapper {
  max-width: 100%;
  position: relative;
  margin-top: 5px;
}
.hiroBtn__btn {
  background: #F7973E;
  color: #fff;
  padding: 1em 1em 1em 1em;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 7px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.6);
  letter-spacing: 0.1em;
  display: block;
  width: 100%;
}
.hiroBtn__btn:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1200px) {
  .hiroBtn__btn {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .hiroBtn__btn {
    font-size: 1.25rem;
    letter-spacing: 0;
    padding: 10px 10px 10px 10px;
  }
}
.hiroBtn__img {
  position: absolute;
  top: -90px;
  right: -50px;
  display: block;
  width: 130px;
  height: 130px;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .hiroBtn__img {
    display: none;
  }
}

.formSection {
  padding: 90px 0 90px 0;
  background-image: url(../img/form_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1200px) {
  .formSection {
    padding: 150px 0 90px 0;
  }
}
@media screen and (max-width: 767px) {
  .formSection {
    padding: 100px 0 60px 0;
  }
}
.formSection__inner {
  max-width: 55%;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 30px;
  padding: 30px 40px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .formSection__inner {
    max-width: 100%;
    padding: 30px 3%;
  }
}
.formSection__crown {
  position: absolute;
  top: -50px;
  right: -50px;
}
@media screen and (max-width: 1200px) {
  .formSection__crown {
    right: 40px;
  }
}
@media screen and (max-width: 767px) {
  .formSection__crown {
    right: 10px;
    top: -48px;
  }
}
.formSection__crownImg {
  width: 150px;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 767px) {
  .formSection__crownImg {
    min-width: 60px;
    max-width: 70px;
  }
}
.formSection__textImg {
  display: block;
  max-width: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 1200px) {
  .formSection__textImg {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .formSection__textImg {
    max-width: 94%;
  }
}
.formSection__headerText {
  font-size: 1.75rem;
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  .formSection__headerText {
    font-size: 1.25rem;
  }
}
.formSection__h2 {
  color: #F7973E;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  .formSection__h2 {
    font-size: 2rem;
  }
}
.formSection__firstLine {
  margin-bottom: 10px;
}
@media screen and (max-width: 1200px) {
  .formSection__firstLine {
    flex-direction: column;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1200px) {
  .formSection__dotArea {
    margin-top: 16px;
  }
}
.formSection__h2DotWrapper {
  position: relative;
}
.formSection__h2Dot::after {
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  background: orange;
  position: absolute;
  top: -10px;
  left: 50%;
  z-index: 1;
  border-radius: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 1200px) {
  .formSection__h2Dot::after {
    top: -8px;
  }
}

@media screen and (max-width: 1200px) {
  .form {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .form {
    max-width: 94%;
  }
}
.form__inner {
  margin: 40px 0 0 0;
}
.form__content:nth-child(n+2) {
  margin-top: 40px;
}
.form__textArea {
  align-items: center;
  margin-bottom: 10px;
}
.form__numWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #218CEF;
  border-radius: 4px;
}
.form__num {
  color: #fff;
  font-size: 1.5rem;
}
.form__text {
  font-size: 1.375rem;
  font-weight: bold;
  margin-left: 10px;
}
@media screen and (max-width: 1200px) {
  .form__text {
    font-size: 1.125rem;
  }
}
.form__select {
  background: #E5E5E5;
  font-size: 1.25rem;
  padding: 0.5em 2em;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .form__select {
    font-size: 1.125rem;
  }
}
.form__mail {
  background: #E5E5E5;
  font-size: 1.25rem;
  padding: 0.5em 1em;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .form__mail {
    font-size: 1.125rem;
  }
}

.your_email {
  display: none;
}

.your_email.open {
  display: block;
}

.answer {
  padding: 3px;
}

.answer.active {
  -webkit-animation: blinking 1s linear 0s infinite;
          animation: blinking 1s linear 0s infinite;
}

@-webkit-keyframes blinking {
  0% {
    background: transparent;
  }
  50% {
    background: transparent;
  }
  51% {
    background: orange;
  }
  100% {
    background: orange;
  }
}

@keyframes blinking {
  0% {
    background: transparent;
  }
  50% {
    background: transparent;
  }
  51% {
    background: orange;
  }
  100% {
    background: orange;
  }
}
.submit {
  margin: 60px auto 0 auto;
  max-width: 100%;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .submit {
    max-width: 100%;
    margin: 60px auto 0 auto;
  }
}
.submit__microCopy {
  max-width: 60%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .submit__microCopy {
    max-width: 40%;
    min-width: 280px;
  }
}
@media screen and (max-width: 767px) {
  .submit__microCopy {
    max-width: 300px;
    min-width: 180px;
  }
}
.submit__btnWrapper {
  max-width: 100%;
  position: relative;
  margin-top: 5px;
}
.submit__btn {
  background: #F7973E;
  color: #fff;
  padding: 1em 0 1em 0;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.6);
  letter-spacing: 0.1em;
  display: block;
  text-align: center;
  width: 100%;
}
.submit__btn:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1200px) {
  .submit__btn {
    padding: 18px 0 18px 0;
  }
}
@media screen and (max-width: 767px) {
  .submit__btn {
    font-size: 1.125rem;
    padding: 13px 13px 13px 13px;
    letter-spacing: 0;
  }
}
.submit__img {
  position: absolute;
  top: -50px;
  right: -50px;
  display: block;
  width: 130px;
  height: 130px;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .submit__img {
    width: 16%;
    height: auto;
    top: -50px;
    right: -20px;
  }
}
@media screen and (max-width: 1200px) {
  .submit__img {
    top: -40px;
  }
}

.choice {
  background-image: url(../img/choice_bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  max-width: 100%;
  width: 100%;
  padding-bottom: 120px;
}
@media screen and (max-width: 1200px) {
  .choice {
    padding: 0 3% 40px 3%;
    background-size: cover;
  }
}
.choice__headerWrapper {
  flex-direction: column;
  width: 460px;
  margin: 0 auto 30px auto;
  padding-top: 60px;
}
@media screen and (max-width: 767px) {
  .choice__headerWrapper {
    width: 300px;
    margin: 0 auto 20px auto;
  }
}
.choice__header {
  color: #257DCF;
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .choice__header {
    font-size: 1.5rem;
  }
}
.choice__headerImg {
  width: 100%;
}
.choice__content {
  justify-content: center;
  align-items: center;
}
.choice__content:nth-of-type(1) {
  margin-bottom: 50px;
}
.choice__content:nth-of-type(2) {
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .choice__content {
    flex-direction: column;
  }
}
.choice__img {
  max-width: 26%;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1200px) {
  .choice__img {
    max-width: 70%;
    margin-right: 0;
  }
}
.choice__textArea {
  max-width: 38%;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .choice__textArea {
    max-width: 100%;
  }
}
.choice__h3 {
  background: #257DCF;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 20px;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .choice__h3 {
    font-size: 1.25rem;
  }
}
.choice__textWrapper {
  background: #fff;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.7;
}
.choice__financial {
  font-size: 0.875rem;
  line-height: normal;
  letter-spacing: normal;
  color: #5E5A5A;
}
.choice__mt10 {
  margin-top: 10px;
}

.worries {
  padding: 20px 0 50px 0;
}
@media screen and (max-width: 767px) {
  .worries {
    padding: 20px 0 20px 0;
  }
}
.worries__headerWrapper {
  flex-direction: column;
  width: 622px;
  margin: 0 auto 30px auto;
  padding-top: 30px;
}
@media screen and (max-width: 767px) {
  .worries__headerWrapper {
    width: 340px;
    margin: 0 auto 20px auto;
  }
}
.worries__header {
  color: #257DCF;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .worries__header {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .worries__headerImg {
    max-width: 100%;
    width: 100%;
    display: block;
  }
}
.worries__content {
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .worries__content {
    flex-direction: column;
    padding: 0 3%;
  }
}
.worries__list {
  width: 400px;
}
@media screen and (max-width: 1200px) {
  .worries__list {
    width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .worries__list {
    width: 94%;
  }
}
.worries__item {
  background: #fff;
  padding: 1em;
  font-weight: bold;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .worries__item {
    padding: 0.5em;
  }
}
.worries__mb20 {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .worries__mb20 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .worries__mt20 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .worries__mt20 {
    margin-top: 10px;
  }
}
.worries__check {
  color: #257DCF;
  margin-right: 10px;
  display: inline-block;
}
.worries__img {
  width: 150px;
  margin: 0 40px;
}
@media screen and (max-width: 1200px) {
  .worries__img {
    display: none;
  }
}

.triangle {
  background: #fff;
}
.triangle__img {
  display: block;
  margin: 0 auto;
}

.solution {
  background: #fff;
  padding: 40px 0;
}
@media screen and (max-width: 767px) {
  .solution {
    padding: 20px 0 20px 0;
  }
}
.solution__headerArea {
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .solution__headerImg {
    max-width: 80%;
    width: 100%;
  }
}
.solution__list {
  padding: 0 3%;
}
.solution__itemContainer {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 767px) {
  .solution__itemContainer {
    max-width: 100%;
  }
}
.solution__item {
  flex-direction: column;
  align-items: center;
}
.solution__text {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .solution__text {
    margin-top: 0;
    font-size: 0.875rem;
  }
}
.solution__img {
  max-width: 100px;
  width: 100%;
  height: 96px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 767px) {
  .solution__img {
    max-width: 80px;
  }
}
.solution__mt {
  margin-top: 20px;
}

.operation {
  background: #F3F3F3;
  padding: 20px 0 80px 0;
}
.operation__headerWrapper {
  flex-direction: column;
  width: 420px;
  margin: 0 auto 30px auto;
  padding-top: 30px;
}
@media screen and (max-width: 767px) {
  .operation__headerWrapper {
    width: 340px;
    margin: 0 auto 20px auto;
  }
}
.operation__header {
  color: #257DCF;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .operation__header {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .operation__headerImg {
    max-width: 100%;
    width: 100%;
    display: block;
  }
}
.operation__list {
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .operation__list {
    flex-direction: column;
  }
}
.operation__item {
  background: #fff;
  max-width: 25%;
  padding: 20px;
  border-radius: 5px;
}
.operation__item:nth-of-type(n+2) {
  margin-left: 20px;
}
@media screen and (max-width: 1200px) {
  .operation__item:nth-of-type(n+2) {
    margin: 20px auto 0 auto;
  }
}
@media screen and (max-width: 1200px) {
  .operation__item {
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
    padding: 20px 40px;
  }
}
@media screen and (max-width: 767px) {
  .operation__item {
    max-width: 94%;
  }
}
.operation__img {
  max-width: 240px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin: 0 auto;
  display: block;
}
.operation__h3Wrapper {
  margin: 10 auto 30px auto;
  flex-direction: column;
  align-items: center;
}
.operation__h3 {
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 30px;
  text-align: center;
}
.operation__h3Img {
  max-width: 100%;
  opacity: 0.7;
  margin-bottom: 10px;
}
.operation__textArea {
  font-weight: bold;
  line-height: 1.6;
}
.operation__orenge {
  color: #F7973E;
}

.three {
  background: #fff;
  padding: 20px 0 40px 0;
}
@media screen and (max-width: 767px) {
  .three {
    padding: 20px 0 20px 0;
  }
}
.three__img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 1200px) {
  .three__img {
    display: none;
  }
}
.three__imgSp {
  display: none;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 1200px) {
  .three__imgSp {
    display: block;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .three__imgSp {
    max-width: 94%;
  }
}

.satisfaction {
  background: #fff;
  padding: 0 0 40px 0;
}
.satisfaction__img {
  display: block;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .satisfaction__img {
    max-width: 100%;
  }
}

.voice {
  padding: 60px 0;
}
.voice__headerWrapper {
  flex-direction: column;
  width: 280px;
  margin: 0 auto 30px auto;
}
@media screen and (max-width: 767px) {
  .voice__headerWrapper {
    width: 200px;
    margin: 0 auto 20px auto;
  }
}
.voice__header {
  color: #257DCF;
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  text-align: center;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .voice__header {
    font-size: 1.5rem;
  }
}
.voice__list {
  display: grid;
  grid-template-columns: repeat(2, 36%);
  grid-template-rows: repeat(2, 280px);
  gap: 40px;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .voice__list {
    grid-template-columns: repeat(1, 80%);
    grid-template-rows: repeat(4, 240px);
  }
}
@media screen and (max-width: 767px) {
  .voice__list {
    grid-template-columns: repeat(1, 94%);
    grid-template-rows: repeat(4, 360px);
  }
}
.voice__item {
  background: #fff;
  border-radius: 7px;
  padding: 20px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .voice__item {
    flex-direction: column;
  }
}
.voice__left {
  max-width: 25%;
  width: 100%;
  margin-right: 40px;
}
.voice__img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin: 0 0 10px 0;
}
@media screen and (max-width: 1200px) {
  .voice__img {
    width: 70%;
    margin: 0 auto 10px auto;
  }
}
@media screen and (max-width: 767px) {
  .voice__img {
    width: 100px;
    margin: 0 auto 10px auto;
  }
}
.voice__name {
  text-align: center;
}
.voice__right {
  max-width: 70%;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .voice__right {
    max-width: 100%;
  }
}
.voice__heading {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.3em;
  margin: 10px 0;
}
.voice__text {
  letter-spacing: 0.1em;
  line-height: 1.3;
}
.voice__orenge {
  color: #F7973E;
}

.faq {
  padding: 60px 0;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .faq {
    padding: 20px 0;
  }
}
.faq__headerWrapper {
  flex-direction: column;
  width: 350px;
  margin: 0 auto 30px auto;
}
@media screen and (max-width: 767px) {
  .faq__headerWrapper {
    padding-top: 0;
    width: 200px;
    margin: 0 auto 20px auto;
  }
}
.faq__header {
  color: #272727;
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  text-align: center;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .faq__header {
    font-size: 1.5rem;
  }
}
.faq__content {
  max-width: 75%;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .faq__content {
    max-width: 94%;
  }
}
.faq__dt {
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .faq__dt {
    align-items: first baseline;
  }
}
.faq__dd {
  align-items: center;
}
@media screen and (max-width: 767px) {
  .faq__dd {
    align-items: first baseline;
  }
}
.faq__q {
  background: #5E5A5A;
  width: 43px;
  height: 43px;
  display: flex;
  color: #FFF;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.375rem;
  font-family: "ABeeZee", sans-serif;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .faq__q {
    width: 38px;
    height: 38px;
  }
}
.faq__a {
  background: #F47F3D;
  width: 43px;
  height: 43px;
  display: flex;
  color: #FFF;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1.375rem;
  font-family: "ABeeZee", sans-serif;
  margin-right: 10px;
}
@media screen and (max-width: 767px) {
  .faq__a {
    width: 38px;
    height: 38px;
  }
}
.faq__text {
  font-size: 1.375rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  max-width: 90%;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .faq__text {
    font-size: 1rem;
    max-width: 87%;
    width: 100%;
  }
}
.faq__line {
  background-image: linear-gradient(to right, #a3a3a3, #a3a3a3 2px, transparent 2px);
  background-size: 4px 2px;
  background-position: left bottom;
  background-repeat: repeat-x;
  width: 100%;
  height: 5px;
  margin: 20px 0;
}

.flow {
  background: #dcdcdc;
  padding-bottom: 90px;
}
.flow__headerWrapper {
  flex-direction: column;
  width: 280px;
  margin: 0 auto 30px auto;
  padding-top: 60px;
}
@media screen and (max-width: 767px) {
  .flow__headerWrapper {
    padding-top: 20px;
    margin: 0 auto 20px auto;
  }
}
.flow__header {
  color: #257DCF;
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  text-align: center;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .flow__header {
    font-size: 1.5rem;
  }
}
.flow__step {
  background: #fff;
  padding: 20px 40px;
  max-width: 75%;
  width: 100%;
  border-radius: 5px;
  margin: 0 auto 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
}
.flow__step:nth-of-type(3) {
  margin: 0 auto 0 auto;
}
@media screen and (max-width: 767px) {
  .flow__step {
    padding: 20px 20px;
    max-width: 94%;
  }
}
.flow__textArea {
  max-width: 50%;
  width: 100%;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.7;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .flow__textArea {
    font-size: 1.125rem;
    line-height: 1.6;
    letter-spacing: 0;
  }
}
.flow__img {
  max-width: 30%;
  width: 100%;
  height: auto;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 40px;
}
@media screen and (max-width: 767px) {
  .flow__img {
    max-width: 36%;
    margin-left: 20px;
  }
}
.flow__img03 {
  max-width: 200px;
  width: 100%;
  height: auto;
  padding: 40px 0;
}
.flow__numWrapper {
  position: absolute;
  top: -30px;
  left: -30px;
  background: #F7973E;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .flow__numWrapper {
    width: 50px;
    height: 50px;
    left: -5px;
  }
}
.flow__numText {
  font-size: 1.375rem;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .flow__numText {
    font-size: 1rem;
    margin-bottom: 0;
  }
}
.flow__num {
  font-family: "ABeeZee", sans-serif;
  font-size: 1.5rem;
}
@media screen and (max-width: 767px) {
  .flow__num {
    font-size: 1.25rem;
  }
}
.flow__line {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 8px;
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .flow__line {
    width: 4px;
  }
}

.footer {
  padding: 50px 0 20px 0;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 20px 3%;
  }
}
.footer__logo {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 40px auto;
}
.footer__list {
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .footer__list {
    flex-direction: column;
  }
}
.footer__item:nth-of-type(n+2) {
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .footer__item:nth-of-type(n+2) {
    margin-left: 0;
    margin-top: 16px;
  }
}
.footer__link {
  color: #272727;
}
.footer__link:hover {
  opacity: 0.7;
}
.footer__copy {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */